CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_SPIFFS_OBJ_NAME_LEN=64
CONFIG_FATFS_LFN_HEAP=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_example.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions_example.csv"
CONFIG_MDNS_MAX_SERVICES=25
CONFIG_MDNS_MAX_INTERFACES=3
CONFIG_MDNS_TASK_PRIORITY=1
CONFIG_MDNS_ACTION_QUEUE_LEN=16
CONFIG_MDNS_TASK_STACK_SIZE=4096
CONFIG_MDNS_TASK_AFFINITY_CPU0=1
CONFIG_MDNS_TASK_AFFINITY=0x0
CONFIG_MDNS_SERVICE_ADD_TIMEOUT_MS=1
CONFIG_MDNS_TIMER_PERIOD_MS=100
CONFIG_WIFI_SSID="A1_41C2"
CONFIG_WIFI_PASSWORD="48575443E694A49D"
CONFIG_ESP_MAXIMUM_RETRY=5
CONFIG_WEB_DEPLOY_SEMIHOST=n
CONFIG_WEB_DEPLOY_SD=n
CONFIG_WEB_DEPLOY_SF=y